*{
    margin: 0%;
    color: white;
}
.container{
    border: 2px solid;
    width: 100%;
    background-color: black;
}
.row{
    /* border: 2px solid red; */
}
.col{
    border: 10px solid black;
    height: 400px;
    overflow: hidden;
}
.col-8{
    /* border: 2px solid blue; */
}
.col-6{
    /* border: 2px solid green; */
}
.col-4{
    /* border: 2px solid yellow; */
}
.col-3{
    /* border: 2px solid white; */
}


#img1{
    background-image: url('img_4.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img2{
    background-image: url('img_5.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img3{
    background-image: url('img_1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#img4{
    background-image: url('img_2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#img5{
    background-image: url('img_3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#img6{
    background-image: url('img_6.jpg');
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
}
#img7{
    background-image: url('img_7.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img8{
    background-image: url('img_8.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img9{
    background-image: url('img_9.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img10{
    background-image: url('img_10.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img11{
    background-image: url('img_1.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img12{
    background-image: url('img_2.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img13{
    background-image: url('img_3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#img14{
    background-image: url('img_4.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img15{
    background-image: url('img_5.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img16{
    background-image: url('img_6.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
#img17{
    background-image: url('img_7.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img18{
    background-image: url('img_8.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}
#img19{
    background-image: url('img_9.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
}